<h2>{{project.name.substring(0, 180)}} {{project.name.length > 180 ? '...' : ''}}</h2>
<p>{{project.description.substring(0, 180)}} {{project.description.length > 180 ? '...' : ''}}</p><br>

<div class="card-bottom">
    <div>
        <span>Дата начала: {{project.begin   | date: "dd/MM/yyyy"}}</span><br>
        <span>Дата завершения: {{project.end | date: "dd/MM/yyyy"}}</span><br>
        <span *ngIf="backlog != 0">Открытых задач: {{backlog}}</span>
    </div>
    <div class="card_ops_footer">
        <a [routerLink]="['/projects', project.id]" class="btn-active">Редактировать</a>
        <a (click)="deleteprj(project.id)"			class="btn-active">Удалить</a>
        <a [routerLink]="['/tasks', project.id]"	class="btn-active">Посмотреть задачи</a>
    </div>
</div>

<router-outlet></router-outlet>

